
header
  .
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container">
        <a href="#{pages.index.url}" class="navbar-brand">筑後川クロスロード</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="menu" class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item"><a href="#{pages.search.url}" class="nav-link">検索</a></li>
            <li class="nav-item"><a href="#{pages.recommended_route.url}" class="nav-link">おすすめルート</a></li>
            <li class="nav-item"><a href="#{pages.recommended_spot.url}" class="nav-link">人気ランキング</a></li>
            <li class="nav-item"><a href="#{pages.myroute_detail.url}" class="nav-link">マイルート</a></li>
            <li class="nav-item"><a href="#{pages.help.url}" class="nav-link">ヘルプ</a></li>
          </ul>
        </div>
      </div>
    </nav>
